mixin messageForm(enabled)
  #message(class='#{enabled}')
    form(method='post', action='/about/#{channel}/message', autocomplete='off', class='font#{session.userFont || 0}')
      input(type='text', name='message', placeholder='enter your message here or type /help for more commands')
      button(type='submit') add

mixin loginForm(enabled)
  a(href='#', id='login', class='#{enabled}') Log in
    form(method='post', action='/about/#{channel}/login', id='login-form')
      input(type='hidden', name='bid_assertion', value='1')

.wrapper
  block header
  #header
    a(href='/')
      h1 Noodle Talk

    if session.email
      mixin messageForm('enabled')
    else
      mixin messageForm('disabled')

    #info
      if session.email
        mixin loginForm('disabled')
      else
        mixin loginForm('enabled')

  #messages
    ol

  #media
    ol

  include _help
