!!! 5
html
  head
    title= title
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=0.9, maximum-scale=0.9, minimum-scale=0.9', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='apple-touch-icon', sizes='72x72' href="/images/apple-touch-icon-ipad.png')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon-iphone4.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='https://browserid.org/include.js', type='text/javascript')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/lib/tab-complete.js')
    script(src='/javascripts/lib/time-format.js')
    script(src='/javascripts/lib/disable-scrolling.js')
    script(src='/javascripts/main.js')

  body(data-nick=nickname, data-channel=channel)
    #hush
    #header
      if session.email
        h1 Noodle Talk

        #message
          form(method='post', action='/about/#{channel}/message', autocomplete='off', class='font#{session.userFont}')
            input(type='text', name='message', placeholder='enter your message here or type /help for more commands')
            button(type='submit') add
      else
        h1(class='visitor') Noodle Talk

      if channel
        h2= channel

      div#info
        div(class='connected', style='display:block')
          = 'Users: '
          span ?
        a(href='https://github.com/ednapiranha/noodletalk', target='_blank') Github
        if session.email
          a(href='/about/#{channel}/logout') Log out
        else
          a(href='#', id='login') Log in
          form(method='post', action='/about/#{channel}/login', id='login-form')
            input(type='hidden', name='bid_assertion', value='1')

    != body

    #userList
      h2 Current Noodlers
        ul#noodlers

    #help
      h2 Noodle Talk Commands

      ul
        li
          span /help
          = ' [displays all available commands]'
        li
          span /nick your_nick
          = ' [changes your nickname]'
        li
          span /clear
          = ' [removes all messages from your screen]'
        li
          span /me your message here
          = ' [makes an action item from your message]'

    #footer
