!!! 5
html
  head
    title= '#' + channel
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=0.9, maximum-scale=0.9, minimum-scale=0.9', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='apple-touch-icon', sizes='72x72' href="/images/apple-touch-icon-ipad.png')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon-iphone4.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='https://browserid.org/include.js', type='text/javascript')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/lib/tab-complete.js')
    script(src='/javascripts/lib/time-format.js')
    script(src='/javascripts/lib/version-timeout.js')
    script(src='/javascripts/lib/commands.js')
    script(src='/javascripts/lib/disable-scrolling.js')
    script(src='/javascripts/main.js')

  body(data-nick=nickname, data-channel=channel, data-options=session.userOptions)
    #hush
    #header
      h1 Noodle Talk
      if session.email
        #message
          form(method='post', action='/about/#{channel}/message', autocomplete='off', class='font#{session.userFont}')
            input(type='text', name='message', placeholder='enter your message here or type /help for more commands')
            button(type='submit') add

      div#info
        a(href='https://github.com/ednapiranha/noodletalk', target='_blank') Github
        if !session.email
          a(href='#', id='login') Log in
          form(method='post', action='/about/#{channel}/login', id='login-form')
            input(type='hidden', name='bid_assertion', value='1')

    != body

    #userList.info-block
      a(class='close') x
      h2 Active Noodlers
      ul#noodlers

    #channelList.info-block
      a(class='close') x
      h2 Active Channels
      ul#channels

    #help.info-block
      a(class='close') x
      h2 Noodle Commands

      ul
        li(data-action='/channels')
          h3 /channels
          span= ' lists all active channels'
        li(data-action='/clear')
          h3 /clear
          span= ' removes messages from your screen'
        li(data-action='/font')
          h3 /font
          span= ' changes to a new random font'
        li(data-action='/help')
          h3 /help or /h
          span= ' displays all available commands'
        li(data-action='/logout')
          h3 /logout
          span= ' log out of the site'
        li(data-action='/media ')
          h3 /media on|off
          span= ' disable/enable media'
        li(data-action='/nick ')
          h3 /nick your_nick
          span= ' changes your nickname'
        li(data-action='/me ')
          h3 /me your message here
          span= ' set an action item from your message'
        li(data-action='/users')
          h3 /users
          span= ' displays the current list of users'
        li(data-action='/join ')
          h3 /join or /j #channel
          span= ' opens #channel in a new window'
        li(data-action='/leave ')
          h3 /leave or /part
          span= ' closes the current channel window'

    #footer
