!!! 5
html
  head
    title= '#' + channel
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=0.9, maximum-scale=0.9, minimum-scale=0.9', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='apple-touch-icon', sizes='72x72' href="/images/apple-touch-icon-ipad.png')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon-iphone4.png')
    link(rel='app-manifest', href='https://noodletalk.org/noodletalk.webapp')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(data-nick=nickname, data-channel=channel, data-options=session.userOptions,
       data-avatar=avatar, data-email-hash=session.emailHash)
    #hush

    != body

    #footer
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
      script(src='https://browserid.org/include.js', type='text/javascript')
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/lib/tab-complete.js')
      script(src='/javascripts/lib/time-format.js')
      script(src='/javascripts/lib/version-timeout.js')
      script(src='/javascripts/lib/commands.js')
      script(src='/javascripts/main.js')
