.wrapper.profile
  block header
  #header
    a(href='/')
      h1 Noodle Talk

    if session.email
      #message
        form(method='post', action='/about/#{formLink}/message', autocomplete='off', class='font#{session.userFont}')
          input(type='text', name='message', placeholder='#{placeholder}')
          button(type='submit') add

    if !isOwner
      #visitor-actions
        a(href='/about/#{formLink}', target='_blank') View your private messages with this user

    div#info
      if !session.email
        a(href='#', id='login') Log in
        form(method='post', action='/about/#{channel}/login', id='login-form')
          input(type='hidden', name='bid_assertion', value='1')

  #profile

    img(src='#{avatar}')

    h2= nickname

    if isOwner
      a(href='/notifications/#{session.emailHash}/#{rssKey}.xml', title='Notifications RSS Feed', class='rss')
        img(src='/images/rss.png')

  #messages
    ol

  #media
    ol

  include _help
